[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/lua-protobuf"]
	path = 3rd/lua-protobuf
	url = https://github.com/starwing/lua-protobuf.git
[submodule "3rd/lua-rapidjson"]
	path = 3rd/lua-rapidjson
	url = https://github.com/xpol/lua-rapidjson.git
[submodule "3rd/nn_libs"]
	path = 3rd/nn_libs
	url = https://github.com/drinkwithwater/nn_libs
