
recursive-include 3rd/lua-protobuf *
recursive-include 3rd/lua-rapidjson *
recursive-include 3rd/rapidxml *
recursive-include 3rd/TinyGL *
recursive-include 3rd/unqlite *

recursive-include src/cy_src *
recursive-include src/c_src *
recursive-include src/skynet_foreign *
recursive-include src/skynet_modify *

recursive-include skynet/3rd/lua *
recursive-include skynet/3rd/lpeg *
recursive-include skynet/3rd/lua-md5 *
recursive-include skynet/skynet-src *
recursive-include skynet/lualib-src *
recursive-include skynet/service-src *

global-exclude *.so
global-exclude *.o
global-exclude *.pyc
